table.scroll {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

table.scroll tbody,
table.scroll thead { display: block; }

thead tr th {
    height: 100%;
    line-height: 100%;
    text-align: center;
}

table.scroll tbody {
    margin:auto;
    width:100%;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody {
    border: none;
}

tbody td, thead th {
    width: 100%;
    border: none;
    cursor: move;
}

tbody td:last-child, thead th:last-child {
    border: none;
}